@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main,
  Footer {
    @apply max-w-6xl mx-auto w-11/12;
  }
}

ul a.active {
  color: gold;
}

.bgImageMenu {
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(40, 40, 45, 0.4906337535014006) 20%
    ),
    url("assets/home/featured.jpg");
}

.bg-authentication {
  background-image: url(../src/assets/others/authentication.gif);
}
